body {
background-color: hsl(234, 29%, 20%);
align-items: center;
margin: auto;
width: 100%;
}
    
.main-container {
width: 98%; 
padding: 0px; 
margin: auto;
margin-left: 0px;
margin-right: 0px;
height: none;
align-items: center;
background-color: hsl(0, 0%, 100%);
}

#illustration {
width: 100%;
            
}

#image-destop {
display: none;

}

#illustration-image-mobile {
margin: auto;
width: 100%;
align-items: start;
align-items: start;
height: 80%;
    }

#illustration-image-mobile img {
width: 100%;
height: 70%;
}

#updates {
padding: 20px;
width: 90%;
height: 100%;
margin-top: 5px;
}

form {
display: flex;
flex-direction: column;
align-items: center;
}

#list1 {
display: flex;
align-items: center;
gap: 2px;
}

#list2 {
display: flex;
gap: 2px;
    }

#list3 {
display: flex;
gap: 2px;
}

.subscription-box {
background: white;
padding: 20px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
border-radius: 5px;
text-align: center;
gap: 20px;
}

input[type="email"] {
width: 80%;
height: 40px;
padding: 10px;
margin-bottom: 5px;
border: 1px solid #ccc;
border-radius: 5px;
color: hsl(0, 0%,58%);
}

button {
width: 85%;
height: 60px;
padding: 12px;
background: hsl(234, 29%, 20%);
color: white;
font-size: 12px;
/* border-top: 50px; */
margin-top: 10px;
border-radius: 5px;
cursor: pointer;
}

button:hover {
background: #0056b3;
}

h1 {
font-size: 50px;
font-family: "Roboto", serif;
font-weight: 700;
font-style: normal;
color: hsl(234, 29%, 20%);
}

h2 {
font-size: 16px;
font-family: "Roboto", serif;
font-weight: 700;
font-style: normal;
color: hsl(234, 29%, 20%);
margin-top: 10px;
}

p {
font-size: 16px;
font-family: "Roboto", serif;
font-optical-sizing: auto;
font-weight: 400px;
font-style: normal;
color: hsl(235, 18%, 26%);
}


@media only screen and (min-width: 1440px) {

body {
background-color: hsl(234, 29%, 20%);
align-items: center;
margin: auto;
}

.main-container {
width: 75%;  
border: 1px solid hsl(234, 29%, 20%);
padding: 20px;
border-radius: 20px;
display: flex;
flex-direction: row-reverse;
margin: auto;
margin-top: 100px;
align-items: center;
background-color: hsl(0, 0%, 100%);
/* width: 24.7%; */
/* gap: 60px; */
}

#image-destop {
display: flex;
}

#image-mobile {
display: none;
}

#illustration {
width: 70%;
}

#illustration-image-desktop img {
width: 100%;
height: 100%;
}

#updates {
width: 100%;}

button {
width: 85%;
padding: 20px;
background: hsl(234, 29%, 20%);
color: white;
font-size: 20px;
/* border-top: 50px; */
margin-top: 30px;
border-radius: 5px;
cursor: pointer;
}
    
button:hover {
background: #0056b3;
    }

h1 {
font-size: 30px;
font-family: "Roboto", serif;
font-weight: 700;
font-style: normal;
color: hsl(234, 29%, 20%);
}
    
h2 {
font-size: 20px;
font-family: "Roboto", serif;
font-weight: 700;
font-style: normal;
color: hsl(234, 29%, 20%);
margin-top: 30px;
}
    
p {
font-size: 20px;
font-family: "Roboto", serif;
font-optical-sizing: auto;
font-weight: 400px;
font-style: normal;
color: hsl(235, 18%, 26%);
}
}